.profilePage {
  width: 500px;
  background-color: whitesmoke;
  padding: 30px;
}

.signUp {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 30px;
  text-align: center;
  color: rgb(68, 83, 83);
}

.header {
  font-size: 25px;
  color: rgb(68, 83, 83);
  text-align: center;
  padding-top: 10px;
}

.paragraph {
  text-align: center;
  padding-top: 10px;
}

.signUpButton {
  padding: 10px;
  background-color: rgb(50, 79, 79);
  border: none;
  font-size: 1.2rem;
  color: white;
}